[2017-08-17 12:29] p6jain opened #1 "Error on building the project"
(1) OpenIE-standalone/src/main/scala/edu/knowitall/openie/OpenIE.scala:73: not found: value MayIHelpYou

(2) OpenIE-standalone/src/main/scala/edu/knowitall/openie/OpenIECli.scala:22: object iitd is not a member of package edu

(3) OpenIE-standalone/src/main/scala/edu/knowitall/openie/OpenIECli.scala:197: not found: value ListExtractorLanguageModelBasedExtractor
ListExtractorLanguageModelBasedExtra

[2017-08-17 12:36] #1 closed, assigned to nobody

[2017-10-30 05:29] nlothian opened #2 "Error (?) in List index (?) output"
Hi,

Is the format for output defined anywhere? I've been guessing how it works, so this may not be a bug. If not, a pointer to the docs would be great, and especially some kind of parsing code.

If I run OpenIE 5 on the following sentence in column mode:

The first extraction is:

`SimpleArgument(This,List([0, 4)))	Relation(affects,List([5, 12)))	SimpleArgument(2/3 EtherSwitch Service Module,List

[2017-10-30 14:01] swarnaHub commented on #2
List[0,4) is correct given that 'This' is a 4 letter word indexing from 0 to 3 in the sentence. My suggestion would be to not read much into the spans of the arguments or relations, because all you care about are the extractions(tuples of the form (arg1; relation; arg2))

To facilitate better viewing of the extractions, run in 'simple' mode after turning on the '--binary' flag on. You will see eac

[2017-10-30 22:11] nlothian commented on #2
Thanks, thanks useful.

My real issue is the missing square bracket in the machine-readable format.

[2017-10-31 03:16] swarnaHub commented on #2
Closing the issue.

[2017-10-31 03:16] #2 closed, assigned to nobody

[2017-10-31 03:43] nlothian opened #3 "The phrase "be leveraged" seems to stop OpenIE working"
If I attempt to run OpenIE (in interactive command line mode) on the sentence:

I obtain no response until I enter another sentence. I've managed to isolate this behavior somewhat.

Things that work:

[code]

However, the following do not work:

[code]

Note that "be lever" and "be leverageized" work fine, and it seems to only be the specific combination of "be leveraged" which stops it working.

[2017-10-31 11:42] swarnaHub commented on #3
This is a little strange given that changing the word 'leveraged' to 'leverage' works. I also checked Open IE 4(the previous version) and saw that the issue persists there too.

I will debug it once I get some bandwidth. It'd be great if you can figure out a workaround in the meantime(may be by changing the word).

[2017-10-31 22:29] nlothian commented on #3
Thanks for checking this, I thought I was going insane. I'll try to debug further, but a superficial look doesn't find anything obvious.

[2017-11-03 13:12] krullgit opened #4 "error from import edu.iitd"
Hello,
I'm trying to execute the project but run into following error:
[error] import edu.iitd.cse.open_nre.onre.helper.MayIHelpYou
[error.txt](https://github.com/dair-iitd/OpenIE-standalone/files/1441118/error.txt)
Thanks for your help in advance,
Matthes

[2017-11-03 13:17] swarnaHub commented on #4
You are not downloading the BONIE jar mentioned in the build section. Read the build section carefully.

[2017-11-03 14:23] krullgit commented on #4
Thanks for your help. Loading will take a while.
I have another question, but don't know if this is the right place for it.
I want to migrate an openIE system to the german language. Do you have any idea if this would be possible in a reasonable amount of time (regarding the openIE 5)?
I'm asking for my bachelor thesis.
Best regards,
Matthes

[2017-11-04 14:39] swarnaHub commented on #4
Open IE works on sentence patterns. So for a different language like German, the patterns will be different. However, the same ideas of pattern learning can still work. Please look at the relevant research papers to have a better idea of how Open IE works. You can also check out relevant literature of Open IE in German and see if anything concrete exists.
Closing the issue as the main query has be

[2017-11-04 14:39] #4 closed, assigned to nobody

[2017-12-11 19:06] soldni opened #5 "Phrase causes fatal OpenIE fatal error"
Hi,

During normal usage of OpenIE, I've found out that the following sentence causes a crash:

[code]
In particular, the following error is raised (the full stacktrace is [available here](https://github.com/dair-iitd/OpenIE-standalone/files/1549059/stacktrace.log)):

[code]

Curiously, removing the final "s" in SHR seems to fix the issue. Any idea of what might be going on?

[2017-12-11 19:30] swarnaHub commented on #5
A regex matching code is causing the exception. I'll try to fix it soon. I am guessing removing the 's' should work for you now. You can additionally pass the "--ignore-errors" flag to continue running your code even if an exception is encountered.

[2017-12-11 19:38] #3 closed, assigned to nobody

[2017-12-13 13:03] lewismc opened #6 "Artifact Release to Maven Central"
Hi @swarnaHub @harrysethi, great to see that openie is still being developed.
I recently built openie functionality into [Apache Any23](https://any23.apache.org) via the [openie module](https://github.com/apache/any23/tree/master/openie) which is available as a [Maven artifact](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22apache-any23-openie%22).
This was only possible due to [openie artifact

[2018-01-19 07:44] wolfshow opened #7 "Why OpenIE 5.0 is much much slower than Reverb?"
I think Reverb is super fast. Why is this version so slow?

[2018-01-19 11:11] swarnaHub commented on #7
Reverb used hand crafted features. Between Reverb and Open IE 5.0 a lot of changes have gone in. The history of Open IE has been summarized in the following paper - http://www.cse.iitd.ac.in/~mausam/papers/ijcai16a.pdf

[2018-01-25 21:46] nitishgupta opened #8 "Assembling jar doesn't work"
UPDATE: I did this on a different machine with the same sbt, scala and java versions and it worked. Any ideas, why?
-------
I tried using  ```sbt -J-Xmx10000M clean compile assembly```  to generate a stand-alone jar but the command halts after
```All tests passed```
I tried running the command with a lot more RAM as well. Any idea?

P.S. ```sbt compile``` works fine. The command line interface als

[2018-02-12 06:28] swarnaHub commented on #8
Are you on windows? If yes, switch to Ubuntu/OS X. Open IE traditionally has some problems with windows.

[2018-02-12 06:29] #7 closed, assigned to nobody

[2018-02-12 15:53] nitishgupta commented on #8
I'm not using Windows. It didn't work on Ubuntu for me, but worked on OS X.

[2018-02-12 16:33] swarnaHub commented on #8
Great! Closing the issue.

[2018-02-12 16:33] #8 closed, assigned to nobody

[2018-02-20 00:00] skprasadu opened #9 "Issue with few below sentences"
First off, I want to acknowledge that this is a awesome tool. I love it. I was able to integrate this with my Java pipeline and it works like a charm.

Some of our sentences are not getting extracted, we think it is a proper sentence, but it is not getting extracted. Can you tell us the reason?

APPLICANT MUST INFORM CONSIGNEE OF ALL LICENSE CONDITIONS

ENSURE THAT EMPLOYEES DO NOT RECEIVE CONTROL

[2018-02-20 06:31] swarnaHub commented on #9
Open IE essentially works on dependency patterns. It might be that these sentences aren't matching any of the patterns. Could you try changing the sentences to lower case and see it that gives you extractions.

[2018-02-20 20:37] skprasadu commented on #9
Thanks Swarna, that helped.

I have one more question, is there a way to train this?

[2018-02-21 06:46] vineetvermait opened #10 "Python Wrapper or REST interface?"
Hi

Is there a plan to provide REST API or any python wrapper for this library...

REST API could provide a lot of ease to use in other application languages other than Scala

[2018-02-21 11:31] swarnaHub commented on #9
No.. The biggest strength of Open IE is that it is domain-independent. So it doesn't require explicit training on any dataset. Check out the history of Open IE at http://www.cse.iitd.ac.in/~mausam/papers/ijcai16a.pdf to understand better.

[2018-02-21 11:40] swarnaHub commented on #10
Currently no. However, creating a python wrapper over the openie jar should be easy. I know people who are already doing it. Check out the repository - https://github.com/Srivatsava/manualExtraction.

[2018-02-23 22:09] azelk opened #11 "OpenIE 5.0 doesn't work as expected - examples give different, inadequate result"
I've installed OpenIE 5.0 standalone but it doesn't give adequate results:

[code]
Instead of 6 triples as promised on the front page, it gives just one.
I also tried my own example:
[code]
Which doesn't look adequate either

[2018-02-24 01:15] #9 closed, assigned to nobody

[2018-02-24 01:26] swarnaHub commented on #11
Which version of Open IE are you using? Open IE 5.0 requires 10GB of memory to run as opposed to 4GB which you have specified. I think you are still using the previous version.

[2018-02-24 01:45] azelk commented on #11
I've thought that too, but the program itself writes that she is OpenIE 5.0 and I've downloaded it there https://codeload.github.com/dair-iitd/OpenIE-standalone/tar.gz/v5.0
Perhaps it is an old version, labeled as 5.0. I'll try master and check if it helps

[2018-02-28 05:10] lewismc commented on #6
@swarnaHub @harrysethi I am happy to work on getting this into Maven Central. I will begin work on it now.

[2018-02-28 05:15] lewismc opened #12 "Update LICENSE"
Right now [LICENSE](https://github.com/dair-iitd/OpenIE-standalone/blob/master/LICENSE) references OpenIE 4, I would strongly advise that you update this.

[2018-02-28 06:51] swarnaHub commented on #6
@lewismc Thanks for taking this up. We were unable to do this because of time constraints. I will take a look at the pull request and get back to you. I'll also update the license in some time.

[2018-03-01 16:27] lewismc commented on #6
Thank you @swarnaHub

[2018-03-02 07:01] pengyu8721 opened #14 "memory issue"
Hi,when i running the project,using  sbt 'run-main edu.knowitall.openie.OpenIECli'
have a error,it also require 10G memory to run it?

[2018-03-02 07:04] swarnaHub commented on #14
Yes..

[2018-03-07 16:22] vineetvermait commented on #11
Any Update on the issue..?/

I am facing the same type of issue...

Output:

Working on 8GB memory though

[2018-03-07 16:28] swarnaHub commented on #11
You are probably using the previous version of Open IE. Clone the latest code from the repository. And you'd need a 16GB machine to run it.

[2018-03-19 18:51] #14 closed, assigned to nobody

[2018-03-19 18:52] #11 closed, assigned to nobody

[2018-05-07 21:54] Renuk9390 opened #15 "Facing errors in running the project in ubuntu through command prompt"
I have followed the steps given on github for running the project.

I am using Ubuntu, kept all the necessary jars as mentioned on github also the language model.
I have installed sbt,try to run with the command mentioned on github(

sbt 'run-main edu.knowitall.openie.OpenIECli'

)

I am attaching the error i got and also the project directory in my computer.
can i get any suggestions please ?

[i

[2018-05-08 11:10] lemonhu opened #16 "Does OpenIE-standalone supports Chinese information extraction?"

[2018-05-21 07:23] eyobn opened #17 "Error while compiling"
I was trying to run the OpenIE5.0 following the instruction in the build section. I have followed every steps but finally the project failed to compile properly. I was able to run OpenIE 4.2 but i failed to succeed with this one. The errors persist in all the running alternatives:-
1. sbt compile
2. sbt 'run-main edu.knowitall.openie.OpenIECli'
3. sbt clean compile assembly
4. sbt -J-Xmx10000M cle

[2018-05-21 07:50] swarnaHub commented on #17
Here is the standalone jar for Open IE 5.0 - https://drive.google.com/file/d/0B9L6Jr6rcJcKZG1idDB6eGp4cTg/view

Download this and see if it works. You would still need the Language Model file and Wordnet.

[2018-05-21 07:53] swarnaHub commented on #16
No.. You can check out the relevant papers to implement similar algorithms for chinese Open IE.

[2018-05-21 07:53] #16 closed, assigned to nobody

[2018-05-21 08:05] swarnaHub commented on #15
Closing the issue as it is resolved..

[2018-05-21 08:05] #15 closed, assigned to nobody

[2018-05-22 06:00] eyobn commented on #17
@swarnaHub Thank you. It helped. I am running it on 8GB and i think it is below the requirement. Is there any way it could run faster, i can not upgrade the memory in the mean time. it is running in command line environment but very slow.

[2018-05-22 06:06] swarnaHub commented on #17
I can't really help you with that because the Language Model itself takes 10 GB of RAM to run. If you wish to run it on an 8 GB machine, use Open IE 4.2.

[2018-05-22 06:29] eyobn commented on #17
so what am i getting is not OpenIE 5.0 or what? look below
eyob@eyob-OptiPlex-7050:~/OpenIE-standalone$ java -Xmx10g -XX:+UseConcMarkSweepGC -jar openie-assembly.jar
OpenJDK 64-Bit Server VM warning: Insufficient space for shared memory file:
   25017
Try using the -Djava.io.tmpdir= option to select an alternate temp location.

Loading feature templates.
Loading models.
Loading lexica.
Loading con

[2018-05-22 06:33] swarnaHub commented on #17
Yes, what you are seeing is indeed Open IE 5. I was suggesting that if you wish to get faster extractions on an 8 GB machine, use Open IE 4.2. There's no way I can reduce the memory requirements of Open IE 5.

[2018-05-22 06:36] eyobn commented on #17
I understand now the 10GB is for faster extraction and it is not the minimum requirement. Thank you so much for the help.

[2018-05-22 06:43] swarnaHub commented on #17
Closing the issue as it has been resolved.

[2018-05-22 06:43] #17 closed, assigned to nobody

[2018-05-22 06:47] eyobn commented on #17
satisfied. just do it!

[2018-06-08 21:12] nooralahzadeh commented on #10
Any plan to make a server like CoreNLP server?

[2018-06-20 08:37] mssharma5523 opened #18 "EOF exception while loading languageModel"
Hi,
While running the program on Windows 10, I get EOF exception when the language model is loaded in the <i>ListExtractorLanguageModelBasedExtractor</i> class. This exception is thrown by the berkeley.nlp.lm.StupidBackoffLm package being used in the class. Can this be looked at? Is there any other alternative to avoid this error?<br>
![image](https://user-images.githubusercontent.com/6850589/4164

[2018-06-22 06:12] swarnaHub commented on #18
Please note Open IE 5 hasn't been tested on a windows machine. You might be getting this error because I had compiled the Language Model is an ubuntu system. I can take a look at it, if given some time. For the time being, I'd suggest you to try Open IE on ubuntu or mac OS.

[2018-06-22 06:21] mssharma5523 commented on #18
Hi @swarnaHub ,
Thanks for the response. I am primarily a windows user and would love if this can work in Windows machine also. After lots of debugging from my side, I am sure the problem is with the languageModel file deserialization. Can you please generate a languageModel compiled on windows machine. Else, can you tell me the steps on how I can generate the languageModel locally(if possible)

[2018-06-29 13:10] swarnaHub commented on #18
I have compiled the Language Model into a Stupid Backoff Object and have uploaded the serialized file. You can create it the following way:

1. Download the Web1T file and the vocabulary for English from http://tomato.banatao.berkeley.edu:8080/berkeleylm_binaries/

2. Download the Language Model jar from https://code.google.com/archive/p/berkeleylm/downloads.

3. Read the files using the method re

[2018-07-05 02:20] humehta opened #19 "Null Pointer Exception"
I amtrying to create the stand alone jar by executing the following command:

     sbt clean compile assembly

but I am getting the following error:

Picked up _JAVA_OPTIONS: -Xmx1024M
Java HotSpot(TM) 64-Bit Server VM warning: Ignoring option MaxPermSize; support was removed in 8.0
Picked up _JAVA_OPTIONS: -Xmx1024M
Java HotSpot(TM) 64-Bit Server VM warning: Ignoring option MaxPermSize; support w

[2018-07-05 06:22] swarnaHub commented on #19
How much memory are you allocating? I see 1 GB, which is not enough. Use atleast 10 GB by specifying "-J-Xmx10000M" in the memory options. Go through the ReadMe carefully.

[2018-07-05 16:03] humehta commented on #19
I executed the following command:

java -Xmx10g -XX:+UseConcMarkSweepGC -jar C:\Users\harsh\OpenIE-standalone\openie-assembly.jar --format column --include-unknown-arg2 C:\Users\harsh\PycharmProjects\untitled3\to_openIE.txt C:\Users\harsh\PycharmProjects\untitled3\from_openIE.txt

Do you mean to say I need to set the heap space in environment variables to -Xmx10000mM ?

[2018-07-05 16:07] swarnaHub commented on #19
Given that you are running this, I am guessing that you were able to build the jar successfully. You can now run it using the command you wrote. Are you not able to?

[2018-07-05 16:08] humehta commented on #19
Oh actually the above jar file is the already compiled jar file that is given in this project. Not compiled by me.
Where do I have to run the sbt clean compile assembly command, in the OpenIE folder right?

[2018-07-05 16:10] humehta commented on #19
When I run the above command I get this output:

Picked up _JAVA_OPTIONS: -Xmx4096M
Java HotSpot(TM) 64-Bit Server VM warning: Ignoring option MaxPermSize; support was removed in 8.0
Picked up _JAVA_OPTIONS: -Xmx4096M
Java HotSpot(TM) 64-Bit Server VM warning: Ignoring option MaxPermSize; support was removed in 8.0
[info] Loading project definition from C:\Users\harsh\OpenIE-standalone\project\pro

[2018-07-05 16:10] humehta commented on #19
But also first there was no assembly.sbt file in the project, so I created one because it was giving me an eror that no object found:assembly.

[2018-07-05 16:13] swarnaHub commented on #19
Run "sbt -J-Xmx10000M clean compile assembly" in your base folder. You don't need an assembly.sbt. build.sbt should take care of all dependencies. If you can't build the jar, download the one that I have already shared in the "Using pre-compiled OpenIE standalone jar" section of the ReadMe.

[2018-07-05 16:50] humehta commented on #19
I ran the below command:
java -Xmx10g -XX:+UseConcMarkSweepGC -jar C:\Users\harsh\OpenIE-standalone\openie-assembly.jar --format column --include-unknown-arg2 C:\Users\harsh\PycharmProjects\untitled3\to_openIE.txt C:\Users\harsh\PycharmProjects\untitled3\from_openIE.txt

I got the following error:

Picked up _JAVA_OPTIONS: -Xmx1024M
Loading feature templates.
Loading models.
Loading lexica.
Loadin

[2018-07-05 17:00] humehta commented on #19
It did not work with the above compile commnad but I am trying to use the already compiled one you have provided. Also I allocated 10G in the Java_Options environment variable.

[2018-07-05 17:01] swarnaHub commented on #19
The error "Picked up _JAVA_OPTIONS: -Xmx1024M" shows that it is using only 1 GB of heap space. You would need to fix this so that it picks up the 10 GB that you are specifying in the options.

[2018-07-05 17:11] humehta commented on #19
Yes I did that!
I guess OpenIE worked but got stuck at the following exception:

Picked up _JAVA_OPTIONS: -Xmx10G
Loading feature templates.
Loading models.
Loading lexica.
Loading configuration.
Loading feature templates.
Loading models.
Loading feature templates.
Loading models.
Loading lexica.
Loading feature templates.
Loading models.
Loading feature templates.
Loading models.
Loading lexica.

[2018-07-05 17:13] swarnaHub commented on #19
Pass the option "--ignore-errors". It will ignore all exceptions.

[2018-07-05 17:14] humehta commented on #19
Okay!

[2018-07-05 17:25] swarnaHub commented on #19
Let me know if this worked. I'll close the issue.

[2018-07-05 17:29] humehta commented on #19
Where do I put this option in the above command because I still get the errors and exception:
I executed the following command:
java -Xmx10g -XX:+UseConcMarkSweepGC -jar C:\Users\harsh\OpenIE-standalone\openie-assembly.jar --format column --include-unknown-arg2 --ignore-errors C:\Users\harsh\PycharmProjects\untitled3\to_openIE.txt C:\Users\harsh\PycharmProjects\untitled3\from_openIE.txt

[2018-07-05 17:36] humehta commented on #19
Giving the following error:

Processing file: C:\Users\harsh\PycharmProjects\untitled3\to_openIE.txt
java.lang.NullPointerException
        at edu.illinois.cs.cogcomp.quant.standardize.Numbers.extractNumberFromTokenizedWords(Numbers.java:210)
        at edu.illinois.cs.cogcomp.quant.standardize.Numbers.extractNumberFromWords(Numbers.java:305)
        at edu.illinois.cs.cogcomp.quant.standardize.Nu

[2018-07-05 17:45] swarnaHub commented on #19
It seems your input file has issues with line endings. You would need to put one sentence per line. Also, these issues arise when the line encodings are not consistent with the platform. Try with some sample sentences and see if it works.

[2018-07-05 18:03] humehta commented on #19
Thanks man it worked! It was the '\n' at the end of the sentence that was causing the problem because it was a jar of Linux that I was using.

[2018-07-05 18:04] swarnaHub commented on #19
Great! Are you running it on windows?

[2018-07-05 18:05] humehta commented on #19
Yes.

[2018-07-05 18:08] swarnaHub commented on #19
Cool! Closing the issue now.

[2018-07-05 18:11] #19 closed, assigned to nobody

[2018-07-09 17:04] humehta opened #20 "Coreference Resolution"
Does this module perform Co-reference Resolution?

[2018-07-09 17:58] swarnaHub commented on #20
No! Open IE acts on each sentence independently.

[2018-07-12 18:20] #20 closed, assigned to nobody

[2018-10-01 12:55] hthuwal opened #21 "Null Pointer Exception on some sentences that do not end with a "." Full stop."
- Using the prebuilt jar file

## Steps to Reproduce Error
[code]
---
##### Input  Sentences
1. India is Great
     - **Output**: 0.84 (India; is; Great)
2. The United State of America
     - **Output**: The United State of America
3. Chemical Reaction and Equations
     -  **Output**: ```Null Pointer Exception```
4. Chemical Reaction and Equations.
     -  **Output**: Chemical Reaction and Equati

[2018-10-01 14:40] swarnaHub commented on #21
I don't think it's an issue with full stop. "Chemical Reaction and Equations" is not a complete sentence and hence the parsing error. I tried many complete sentences without full stops and they are working fine.

If the exceptions are causing your program to stop, you can get rid of it by passing  "--ignore-errors" as an argument to the jar. The sentences you referred to are anyways not supposed t

[2018-10-01 14:46] hthuwal commented on #21
Yeah, I was expecting it to just ignore the incomplete sentence. Thanx for pointing out the `--ignore-errors` flag. I missed it in the Readme.

[2018-10-01 14:46] #21 closed, assigned to nobody

[2018-10-03 12:10] hthuwal opened #22 "Multicore support?"
I am trying to run it on a 1.5 GB text file. The model uses only a single core and hence it's taking too long.

I couldn't find a flag to specify the number of threads to use. Is there a way to run the model on multiple cores?

[2018-10-03 19:32] guilherme-salome opened #23 "Seemingly Normal Phrases causing Errors"
I am having issues with OpenIE reporting errors on a few phrases, some of which are regular phrases without weird punctuation. For example: "Mozambique steps up oil and gas search." leads to an `Error on sentence` (traceback below).

I am running the pre-compiled binaries with the options:
[code]
Here are some of the examples that have caused errors:
[code]
The errors all seem to be caused by the

[2018-10-03 19:36] guilherme-salome commented on #22
I couldn't either, an easy workaround is to just split the text file and launch two processes, one for each half of the file.

[2018-10-03 19:44] hthuwal commented on #22
Yeah Running several processes on file splits is exactly what I am doing
right now.

But it would be nice to have some flag/method that allows using all
cores like the stanfordNLP does.

On Thu 4 Oct, 2018, 1:06 AM Guilherme Salomé, <notifications@github.com>
wrote:

[2018-10-03 20:04] guilherme-salome commented on #22
If you find a more efficient solution or update the code to allow for multicores please post it here!

[2018-10-04 06:53] swarnaHub commented on #23
![image](https://user-images.githubusercontent.com/13816552/46457464-112bac80-c7d0-11e8-8364-0bdfa839a7c2.png)
They seem to be working fine for me. Here are the extractions from the first sentence you reported. Check if you have the latest code pulled from the master branch and that the language model is correctly downloaded.

[2018-10-04 06:54] swarnaHub commented on #23
![image](https://user-images.githubusercontent.com/13816552/46457571-71bae980-c7d0-11e8-9003-0005f8f71c26.png)
Another one..

[2018-10-04 11:36] guilherme-salome commented on #23
Hi @swarnaHub , thanks for double checking. I literally downloaded everything yesterday.
I cloned the repo, got the pre-compiled binaries, created the lib folder and populated with the downloads from the build section, and downloaded the data model from the link and stored in the data folder.
I did not try recompiling it because I'm running everything on linux and it seemed to work fine. Except fo

[2018-10-04 12:27] guilherme-salome commented on #23
I will try parsing the phrases with errors on my mac after the process finishes running.

[2018-10-05 14:52] guilherme-salome commented on #23
I just realized it could be an issue with the java version.

[2018-10-05 19:45] guilherme-salome commented on #23
I tried again starting from scratch on ubuntu 18.04 in a digitalocean droplet using java 8 (couldn't install 7 for some reason). I still got the same errors.

[2018-10-05 20:21] guilherme-salome commented on #22
@hthuwal I've been using this project to go over a lot of text and I was running it in a single powerful machine and it was veeery slow. I then went to digitalocean and got one of the high tier droplets and started running openie5 in parallel (with https://www.gnu.org/software/parallel/) and on a small number of phrases (1000 at a time, more to debug really, but could be increased). The processing

[2018-10-05 21:17] guilherme-salome commented on #22
Update: I tested their Standard Droplet with 192gb of memory and 32vCPUs and I was able to run 8 processes at the same time. That consumed 92% ish of the memory. The average CPU use was 1200%. So the bottleneck is definitely memory.

Update: Looking at the `top` output it seems there is still some memory free with 8 processes, so I think maybe 9 or 10 could run in parallel. 12 processes definitely

[2018-10-06 04:54] hthuwal commented on #22
Thanx @Salompas. Yes, memory is the bottleneck because the process requires ~10 GB of memory just to run. I have access to a machine with about ~80GB of RAM and 32 cores. I was able to run 3 processes simultaneously. Any further increase in the number of processes chokes up the machine.

Thanx for reminding about the parallel command. I totally forgot about this and wrote a script that splits the

[2018-10-06 05:28] swarnaHub commented on #23
This is indeed a java problem. Check the below issue -
https://stackoverflow.com/questions/23413092/error-under-ubuntu-with-the-method-string-join

[2018-10-06 10:12] guilherme-salome commented on #23
Hmmm interesting. On the droplet I am using when I runn `java -version` I get:
[code]
which corresponds to java 8. The requirement for open ie is java 7.

[2018-10-08 13:39] ghost opened #24 "Issue in running with sbt"
I am trying to run with sbt when I encounter the following error:

object iitd is not a member of package edu

[2018-10-08 13:47] swarnaHub commented on #24
I don't think you have downloaded the pre-compiled jars or if you have, they are not in the right folders. Please read the build section of the ReadMe carefully.

[2018-10-09 09:45] ghost commented on #24
I had to put the jar files in the correct folders. Thank you!

[2018-10-09 09:45] #24 closed, assigned to nobody

[2018-10-10 10:26] shubhamnirbhay commented on #18
Hi
I am unable to download the languageModel file and unable to understand how to generate it locally. Can you please explain the procedure?

[2018-11-05 14:33] MichalGabonay opened #25 "Usage for different language"
It is a possibility to somehow use this project for different languages from English? I need OpenIE for Czech and Slovak language. Can be just used another language model? If yes, are there some special requirements for this language model? How big dependency is on WordNet?

Thank you.

[2018-11-07 07:11] swarnaHub commented on #25
I think porting this project into some other language is not straight-forward. The primary requirement is that of a dependency parser. We use Clear for parsing English sentences. I don't know about Czech and Slovak parsers. Even if they are good, you might not be able to plug it in directly in the code. We use the binarised Berkeley LM. If you use some other LMs, they might not support the queries

[2018-12-06 03:53] Zoher15 opened #26 "Error on Sentence"
The below sentence throws an error:

Home Depot founder and CEO Bernie Marcus has endorsed Donald Trump for president.

What is wrong with it?

[2018-12-06 04:38] Zoher15 commented on #23
A temporary bypass is just to add double quotes on both sides

[2018-12-26 07:33] #12 closed, assigned to nobody

[2019-01-02 21:45] lluo5779 opened #28 "Internal Structure & Output Documentation"
I was wondering if:

1. there is a paper available documenting the internal structure of OpenIE 5? If not, are there any documentations detailing the structure of the ML algorithm besides the collection of other papers ?

2. there are any documentations that are not laid out in README regarding the output? (ie. **0.80** **Context**(the team continued,**List([44, 62))**):(the team; continued to sco

[2019-01-03 10:20] bhadramani commented on #22
openie 4.2 + had multi core support with multi threaded environment ( With approx constant RAM usage ) .
Performance recommendation
1. For N threads use N=1 core . You may observe Nx improvement up to 8 cores.
2. Use taskset.

Swarna  may update ,  OpenIe 5.x is thread safe?

[2019-01-03 10:27] bhadramani commented on #22
One more performance related suggestion, reading the files is costly , so smaller chunks must help. Choosing chunk size is another smart thing to do.
Similarly writing the output , should be done smartly ( For very very large data , may consider using RabittMQ or any similar system , which maintains the Q and save asynchronously.

[2019-01-03 10:31] bhadramani commented on #5
It is recommended to use --ignore-errors. I believe it writes these to a file, if you can post that file, it 'll be a great help to current researchers.

[2019-01-03 10:37] bhadramani commented on #26
You may post error description.

[2019-01-15 18:39] openstring opened #29 "How online demo save the triples?"
Hi,
If I want to build my own knowledge by Open IE, how should I save triples? Is it schema free?
There is a line in the bottom of online demo, it use schema from freebase, but how should I use this schema?

Thank,
Leon

[2019-02-04 07:18] Zoher15 commented on #23
![image](https://user-images.githubusercontent.com/29090730/52194735-09822000-2823-11e9-8506-ccb17b4421bd.png)
Really tired of this bug. I have been wrapping the text with double quotes to solve it but I cannot understand what is causing this error. My java version:
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

[2019-02-09 07:33] chao276951044 commented on #26
the error description as follow:
Exception in thread "main" java.lang.NullPointerException
	at edu.iitd.cse.open_nre.onre.domain.OnrePatternNode.<init>(OnrePatternNode.java:47)
	at edu.iitd.cse.open_nre.onre.helper.OnreHelper_graph.convertGraph2PatternTree_helper(OnreHelper_graph.java:98)
	at edu.iitd.cse.open_nre.onre.helper.OnreHelper_graph.convertGraph2PatternTree(OnreHelper_graph.java:51)
	at

[2019-03-28 06:44] rajiv256 opened #30 "Location of openie-assembly jar"
In the documentation README, the location and the name of openie-assembly jar wasn't properly specified.

`java -Xmx10g -XX:+UseConcMarkSweepGC -jar openie-assembly.jar` was the command given.

But I found the jar here: `OpenIE-standalone/target/scala-2.10/openie-assembly-5.0-SNAPSHOT.jar`. Not sure if this was overlooked.

[2019-03-28 07:07] swarnaHub commented on #30
Yes, that's the path! Will update the README.

[2019-03-28 07:07] #30 closed, assigned to nobody

[2019-05-14 09:44] samira-ghodratnama commented on #8
There is no way that it works on windows?

[2019-05-29 10:22] DShivansh opened #31 "Unresolved Dependency Path issue"
So I am trying to build OpenIE on my machine and the error is coming that is
sbt.librarymanagement.ResolveException: unresolved dependency: edu.washington.cs.knowitall.srlie#srlie_2.10;1.0.4-SNAPSHOT: not found

can anyone help me out with this its is urgent.

[2019-05-29 19:41] #31 closed, assigned to nobody

[2019-07-09 13:33] Fortune-Don opened #32 "How to run with sbt and run from a stand-alone jar properly?"
I have done compiling properly. But I still have some wrong with the process of running.

When I run with sbt, the error is as follows：
[warn] No sbt.version set in project/build.properties, base directory: /home/tfc/OpenIE-standalone-master/sbt/bin
[info] Set current project to bin (in build file:/home/tfc/OpenIE-standalone-master/sbt/bin/)
[info] Running edu.knowitall.openie.OpenIECli
[error] (r

[2019-07-10 10:35] Fortune-Don commented on #31
I have the same problem now. Have you solved the problem yet? If so, could you tell me how?

[2019-07-10 10:41] Fortune-Don commented on #24
Could you tell me which one is the correct folders for the pre-compiled jars?

[2019-07-26 05:20] vaibhavad commented on #10
Hi, the link given above seems broken. Can you give some more details on how to run OpenIE as a server or API?

[2019-07-26 07:02] vaibhavad opened #33 "Documentation for --parser-server and --srl-server"
Please provide details on how parser-server and srl-server can be used. Can you also let me know how to use OpenIE as python API on streaming text?

[2019-08-27 17:19] newmluser opened #34 "Error while executing the latest build."
Can you please let me know if I am missing anything
* * * * * * * * * * * * *

Error on sentence: [0054] Each paint thus prepared was coated on a cold-rolled steel plate: JIS G3141 SPCC-SB (150╫70╫1.0
Exception in thread "main" java.util.regex.PatternSyntaxException: Unclosed group near index 77
(?i).*\bon a cold - rolled steel plate : JIS G3141 SPCC - SB ( 150╫70╫1.0\b.*
        at java.util.rege

[2019-09-13 09:04] abhisheksms commented on #31
Try [this](https://stackoverflow.com/questions/45817763/sbt-always-coming-up-with-unresolved-dependency-error). It states that the file "build.properties" must set sbt.version to 0.13.x.

[2019-10-07 10:20] amandalmia14 commented on #31
@DShivansh Will you able to solve the error, if yes how? Which version of sbt you have used.

I am trying to build in Windows 10.

@abjoker, I tried with 0.13.8 version of SBT, still showing the same error.

[2019-10-08 12:00] abhisheksms commented on #31
@amandalmia14  I used 0.13.0 version

```sbt.version=0.13.0```

[2019-10-09 04:44] amandalmia14 commented on #31
@abjoker Have you build in Ubuntu?

[2019-10-09 11:57] abhisheksms commented on #31
@amandalmia14  yes, however choice of OS shouldn't be a problem i guess

[2019-10-09 12:00] amandalmia14 commented on #31
@abjoker I wasn't able to find the same version in Windows.
https://www.scala-sbt.org/download.html

I tried with sbt 0.13.15 but it didn't worked.

[2019-10-09 12:12] abhisheksms commented on #31
@amandalmia14  I used google colab since I did not have enough memory requirements, I was able to run the jar files but I could not use the actual functionality of converting text data to triples, since it requires another instance(similar to a new command prompt tab) which isn't possible in colab smh :-(

I am not sure of Windows 10, you can try with sbt version 1.2.1 (or something like that whic

[2019-10-31 20:12] feryah opened #35 "Errors while executing compile.sh"
Hello,

Despite the following of instructions, I still get these errors. Any help please?

[error] /home/tim/.local/share/Trash/files/OpenIE-standalone-master/src/main/scala/edu/knowitall/openie/OpenIE.scala:25:12: object iitd is not a member of package edu
[error] import edu.iitd.cse.open_nre.onre.helper.MayIHelpYou
[error]            ^
[error] /home/tim/.local/share/Trash/files/OpenIE-standalone

[2019-11-01 01:12] #35 closed, assigned to nobody

[2019-11-01 01:13] feryah commented on #35
Problem solved.

[2019-11-07 23:22] dongyt2004 commented on #10
Hi, the link "https://github.com/Srivatsava/manualExtraction" seems broken. Can you give some more details on how to run OpenIE as a server or API?

[2019-11-21 14:05] TickTack-z commented on #35
Hi. I faced similar problem, how do you solved this?

[2019-11-28 06:30] raj5287 opened #36 "Neither able to run standalone jar nor able to compile"
I have followed the build instructions but I am unable to build the model or standalone jar file. Also I tried to run the given openie 5.0 jar file, still I am running into error.
when executing compile.sh following is the error:
![openie1](https://user-images.githubusercontent.com/11444890/69782399-ede36e00-11d6-11ea-9dbc-bf25d34faa5d.png)

and when I am doing : java -Xmx10g -XX:+UseConcMarkSweep

[2019-11-28 11:06] #36 closed, assigned to nobody

[2019-11-28 11:07] raj5287 commented on #36
this issue comes up because of the java version mismatch.

[2020-01-25 13:33] vaibhavad commented on #10
We have added the functionality to run OpenIE as a server to be accessed via REST interface - https://github.com/dair-iitd/OpenIE-standalone#running-as-http-server

We have also developed a Python wrapper around OpenIE server - https://github.com/vaibhavad/python-wrapper-OpenIE5

[2020-01-25 13:33] #10 closed, assigned to nobody

[2020-01-25 13:36] vaibhavad commented on #34
This error is probably from encountering some special characters or symbols which throw an error during pattern matching. It can be resolved in two ways =

1) Pre-process the input data to remove special characters

2) Try to run it with --ignore-errors flag

[2020-01-25 13:37] #33 closed, assigned to nobody

[2020-01-28 22:14] ahaque2 opened #39 "Can't get it running on the HTTP server"
Executing 'java -jar openie-assembly.jar --httpPort 8000', gives following error.

Error: Unknown argument '--httpPort'
Error: argument input-file failed when given '8000'. requirement failed: input file does not exist: 8000

Am I missing out something? Any help is greatly appreciated.

[2020-01-29 09:01] vaibhavad commented on #39
Hi, please check if you have the latest changes. In particular check if RootHandler.scala file is present in OpenIE-standalone/src/main/scala/edu/knowitall/openie directory. If not please update your project with the latest changes on Github

[2020-01-29 09:18] vaibhavad commented on #32
Please confirm that OpenIE-standalone-master/project/build.properties file is present. Also verfiy that sbt version is specified in this file. If not, please update the file from https://github.com/dair-iitd/OpenIE-standalone/blob/master/project/build.properties

[2020-01-29 12:26] #25 closed, assigned to nobody

[2020-01-29 20:53] ahaque2 commented on #39
Thanks for your quick response.

I checked and all required files are present under OpenIE-standalone/src/main/scala/edu/knowitall/openie directory

Though I think its better to point out the first point of error that I get during installation.

On running compile.sh under roor directory, the sbt build is failing for 'srlie' with following missing dependencies:

  :::::::::::::::::::::::::::::::::

[2020-01-30 08:17] vaibhavad commented on #39
Looks like this is an issue with resolving sbt plugins. I could not replicate it on my machine. An alternative is to manually load sbt plugins as suggested here -https://github.com/sbt/sbt-assembly/issues/245

However this will be long and tedious process. You can directly use the openie-assembly.jar from here - https://drive.google.com/file/d/19z8LO-CYOfJfV5agm82PZ2JNWNUPIB6D/view?usp=sharing . I

[2020-01-30 19:13] ahaque2 commented on #39
Thanks for sharing the latest jar file. With the new jar file, I was able to start the server and use the python wrapper successfully on my 'Ubuntu 16.04.6 LTS'.

Greatly appreciate your help. Keep up the good work.

[2020-01-30 19:13] #39 closed, assigned to nobody

[2020-02-13 18:38] TianrenWang opened #41 "SERVER ERROR on compile.sh"
I am running on Mac and trying to build the jar locally. I followed the instruction for building the project, and in the last step after sh compile.sh, I get the following errors:

`
[error] SERVER ERROR: HTTPS Required url=http://repo1.maven.org/maven2/com/jsuereth/gpg-library_2.10/0.8.1/gpg-library_2.10-0.8.1.pom
[error] SERVER ERROR: HTTPS Required url=http://repo1.maven.org/maven2/net/databind

[2020-02-13 19:56] TianrenWang commented on #41
I bypassed this issue by using the pre-compiled jar.

[2020-02-13 19:56] #41 closed, assigned to nobody

[2020-02-15 05:53] exelents opened #42 "Error running tests on creating stand-alone jar"
I'm trying "sbt -J-Xmx10000M clean compile assembly", but it seems, some tests going incorrectly.
What can I do?

[code]

[2020-02-15 13:14] exelents commented on #42
I have solved a problem. In file SrlExtractor.scala you assigned a package name:
`package edu.knowitall.srlie`
So function getResource tried to find resource file in this package resource path. File relation_filter.txt should be located in OpenIE-standalone/srlie/src/main/resources/edu/knowitall/srlie/. Now it located in the root of `resources` folder and after compilation - in root of the jar fil

[2020-02-15 13:14] #42 closed, assigned to nobody

[2020-02-17 10:48] ambujpd commented on #22
@vaibhavad @swarnaHub @harrysethi @schmmd @bhadramani
Could you please suggest on the approach to multicore support?
Alternatively, is it possible to load the model in a separate process such that it can be shared (since model size is one of the major bottlenecks)?

I tried to naively use concurrent Futures in Scala and divided sentences among them (in OpenIECli.scala). (I found OpenNLP Chunker as

[2020-02-25 17:30] amandalmia14 opened #43 "Error on direct access"
Hi @swarnaHub @vaibhavad

While provide a paragraph in order to extract triples, I am getting the following errors,

`Error on direct access`

![image](https://user-images.githubusercontent.com/13628323/75271581-726b7a00-5822-11ea-927d-4e2cefd9e2a9.png)

How can I avoid such errors?

Thanks

[2020-02-25 18:16] vaibhavad commented on #43
Hi @amandalmia14,

Please try running OpenIE with --split argument. Let me know if it solves the problem.

https://github.com/dair-iitd/OpenIE-standalone#command-line-interface

[2020-03-02 07:38] ambujpd commented on #22
The multithreaded implementation is working now, giving 4X improvement with 6 threads (tried on a 20-core machine. Increasing threads further showed no further improvement). The reason it wasn't showing any improvement earlier was that I was using too less heap memory - 10G. Increasing 10G to 12G gave substantial improvement in runtime already (around 10X in extractions).

[2020-03-03 08:02] vaibhavad commented on #22
@ambujpd
Glad to know that multithreading implementation is working. Can you share the changes you made to make it work? in a pull request? We can test them and merge them with the codebase.

[2020-03-04 21:46] mingdachen commented on #35
@feryah Hi, I am also having this issue. How did you solve this?

[2020-03-05 09:23] ambujpd commented on #22
@vaibhavad

With higher number of threads (8+), I sporadically see one or two sentences (out of 80) throwing NullPointerException from OpenNLP Chunker, even though I've put that call within Blocking. I'm looking into it currently.

[2020-03-19 00:01] lewismc commented on #26
Using master branch I cannot replicate this behaviour
[code]
Response...
[code]
It does not throw NPE... this can be closed off.

[2020-03-28 13:30] hibaahsan opened #45 "Is there a way to process multiple files when using the standalone jar?"
It seems like it takes only one input file. In order to process multiple files, I have to run the command multiple times which would end up loading the files/models over and over again for every run. This is very inefficient.

[2020-06-11 03:23] polosimon opened #46 "Error on compile.sh"
Hi @swarnaHub @vaibhavad
There are errors when I run compile.sh. How can I avoid such errors?  Thanks.

[error] sbt.librarymanagement.ResolveException: unresolved dependency: edu.washington.cs.knowitall.srlie#srlie_2.10;1.0.4-SNAPSHOT: not found
[error] unresolved dependency: edu.iitd.cse.open_nre.onre#onre_2.10;1.0.0-SNAPSHOT: not found
[error] 	at sbt.internal.librarymanagement.IvyActions$.resol

[2020-06-17 20:20] vaibhavad commented on #46
Hi,

Can you send over the complete console log of running compile.sh?

[2020-06-18 01:30] polosimon commented on #46
Hi @swarnaHub @vaibhavad
Thanks for your reply！This is the complete error log of compile.sh.

(base) tongf@cube2:~/OpenIE-standalone$ ll
total 468
drwxrwxr-x 14 tongf tongf   4096 Jun 11 11:14 ./
drwxr-xr-x 15 tongf tongf   4096 Jun 11 11:14 ../
-rw-rw-r--  1 tongf tongf   3781 Jun 11 09:23 build.sbt
-rwx-wx-wx  1 tongf tongf    108 Jun 11 09:23 compile.sh*
drwxrwxr-x  2 tongf tongf   4096 Jun 11

[2020-06-18 14:03] vaibhavad commented on #46
Hi @polosimon

Which OS and terminal are you using? On my Mac OS with zsh terminal I get the following output for command 'll'

total 72
-rw-r--r--   1 vaibhav  staff   4.2K Apr 20 20:11 LICENSE
drwxr-xr-x   6 vaibhav  staff   192B Apr 20 20:11 ONRE
-rw-r--r--   1 vaibhav  staff    10K Apr 20 20:11 README.md
drwxr-xr-x  30 vaibhav  staff   960B Apr 20 20:11 WordNet-3.0
-rw-r--r--   1 vaibhav  staf

[2020-06-19 15:55] vaibhavad commented on #45
Currently, such a feature is not available. You can always merge your files into one single file before passing it to OpenIE5

[2020-06-19 15:57] vaibhavad commented on #34
@newmluser Are you able to run it with the suggested fix?

[2020-06-19 16:00] #45 closed, assigned to nobody

[2020-06-19 16:00] vaibhavad commented on #46
Hi @polosimon

Where you able to run OpenIE successfully?

[2020-06-19 16:01] vaibhavad commented on #43
Hi @amandalmia14,

Were you able to run OpenIE successfully?

[2020-06-19 16:02] #32 closed, assigned to nobody

[2020-06-19 16:04] vaibhavad commented on #29
The output of OpenIE is schema-free. This output can be further processed to link it with Freebase.

[2020-06-19 16:04] #29 closed, assigned to nobody

[2020-06-19 16:06] vaibhavad commented on #26
The issue was originating from incorrect parsing. This has been fixed in the latest release.

[2020-06-19 16:06] #26 closed, assigned to nobody

[2020-06-19 16:08] #5 closed, assigned to nobody

[2020-06-29 19:51] Weilin37 opened #47 "Server does not seem to be able to handle multiple incoming IP requests?"
I am hosting the server on an EC2 instance. I then make a request from another computer and it seems to work fine. However, when a second computer tries to make a request, the code hangs and the request doesn't seem to be able to make it to the server. Weirdly enough, the original computer will start having the same problem too.

I can make as many requests as I want from the first computer. But t

[2020-07-06 16:19] usbader commented on #31
sbt 0.13.0 is not listed in the download page.

[2020-07-18 20:10] usbader opened #48 "unresolved dependency: edu.iitd.cse.open_nre.onre#onre_2.10;1.0.0-SNAPSHOT: not found"
Hello all,

I am trying to compile openie, but the following error arises. I will include all logs. Can you please help?

[info] Set current project to onre (in build file:/home/usbader/OpenIE-standalone/ONRE/)
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by sbt.ivyint.ErrorMessageAuthenticator$ (file:/home/usbader/.sbt/boot/scala-2.10.6/org.scala

[2020-07-27 20:37] tutubalinaev opened #49 "how to process multiple files with server and python wrapper?"
Hello,
Could you please tell me how to process multiple files (or list of texts) with server and python wrapper?
Thank you in advance!

[2020-08-11 04:16] tensor2077 commented on #46
I have the same error, and I solve this problem by found that I made a mistake in setting an environment variable:
`1. Add sbt/bin to your path.`
after correct my command, I can successfully build OpenIE5.
`export PATH=/Users/WangLao/wksp/nlp/openIE5/sbt/bin:$PATH`

[2020-08-11 04:18] tensor2077 commented on #48
Will this helpful?
https://github.com/dair-iitd/OpenIE-standalone/issues/46#issuecomment-671714571

[2020-09-25 15:43] moinnadeem commented on #22
@ambujpd Hey! Are you able to share your multithreaded implementation? It would be super useful for me personally, and cut down my development time by quite a bit. Happy to spend time on the code to help if necessary

[2020-09-25 18:18] ambujpd commented on #22
@moinnadeem I don't have the code with me unfortunately (I remember I was able able to use some thread-safe NLP chunker, along with Scala concurrency and had gotten rid of sporadic NullPointerException issue). But in conclusion I found it was not worth the effort as scalability was quite limited. A much better alternative is multi-processing (at the cost of extra memory) which I eventually ended u

[2020-10-02 08:54] vaibhavad commented on #22
Hi @ambujpd @moinnadeem @bhadramani @hthuwal @Salompas,

We have just released a neural OpenIE system - **OpenIE6**, which is better in performance and at least 10x faster than OpenIE-5 (if you run it on a GPU). You can check it out here - https://github.com/dair-iitd/openie6

[2020-10-16 04:44] expresschen opened #50 "可以用作中文领域吗？"

[2020-10-26 20:06] lujiaying commented on #48
Get the same error that can not successfully execute
`$ sbt publishLocal` under `ONRE` directory

[2020-11-10 08:26] dheerajnuka opened #51 "How to download language model in linux"
Hi Team,

Can anyone please let me know how to download language model in linux.

[2020-12-09 19:47] mlpotter opened #52 "Multiple Consecutive Verbs"
Does OpenIE 5.1 not handle sentences with multiple verbs between the subject and object? I admit I do not know all the dependency patterns that OpenIE 5.1 uses for the triplet extraction. If it does not handle multiple verbs between the subject and object, do you know of any Open Information Extractors that do?

Here is an example failure case.
![image](https://user-images.githubusercontent.com/35

[2021-01-03 05:36] pyth0nic commented on #51
Hello @dheerajnuka,
-> pip install gdown
-> gdown --id 0B-5EkZMOlIt2cFdjYUJZdGxSREU

[2021-01-25 07:05] WangQiqing opened #53 "sometimes get wrong offsets"
I used the ptyhon wrapper with the API from the Open IE 5.1.0 server, it works well on most sentences, but except for this one that gets wrong or empty offsets for the extracted args. I don't know whether the exception is caused by sentence structure or other problems.
[code]

[2021-02-06 15:07] larswise opened #54 "Building JAR: deduplicate: different file contents found in the following"
when I try to package to jar, I get the following errors:

Any tips?

[error] 2 errors were encountered during merge
[error] java.lang.RuntimeException: deduplicate: different file contents found in the following:
[error] /home/lars/kge/OpenIE-standalone/lib/BONIE.jar:edu/iitd/cse/open_nre/onre/utils/WordNet-3.0/lib/wnres/wnb.man
[error] /home/lars/.ivy2/local/edu.iitd.cse.open_nre.onre/onre_2.10/

[2021-02-06 21:31] larswise commented on #54
I had a python script in the datacatalog to download the language model, removed it and this error went away.

[2021-02-06 21:31] #54 closed, assigned to nobody

[2021-02-22 08:18] dheerajnuka commented on #51
Got it Thanks pyth0nic

[2021-02-22 08:19] dheerajnuka commented on #51
one more doubt is like the language model is built on bert and GPT . can I use Biobert instead bert.

If yes can you please suggest me how to do it

[2021-03-27 12:14] francesfeng commented on #34
I had similar issues. Check your sentences if contain quotation marks, seems "" is the reason causing errors.

[2021-04-16 23:01] amirj opened #55 "build error: Could not find required component 'xsbti'"
Running compile.sh on MacOs 10.15.7 and zsh leads to the following error:

[code]

Based on the provided readme file, I just clone the repository, copy lib and data files and run compile.sh. If I missed something?!

[2021-04-16 23:32] amirj commented on #55
and this is the installed java:

[code]

[2021-04-20 04:24] Ding-Jiayu commented on #55
I also ran into this problem. Have you solved it?

[2021-04-20 11:55] amirj commented on #55
@Ding-Jiayu Unfortunately not!

[2021-04-21 22:19] vaibhavad commented on #55
@amirj Can you send me the output of `sbt sbtVersion`?

[2021-04-22 07:40] Ding-Jiayu commented on #55
Hi. My sbt version is 1.5.0. Now I use java openjdk15 instead of openjdk8, and have successfully compiled.

[2021-04-22 14:40] amirj commented on #55
@vaibhavad
[code]

[2021-04-22 14:58] amirj commented on #55
@vaibhavad

After installing JDK16 and adding sbt/bin to PATH:

[code]

[2021-04-23 15:33] Ding-Jiayu commented on #55
I solve the problem by installing sbt 0.13.

And this will automatically install openjdk8 and scala. Then you just have to add sbt and openjdk8 to your path. Good luck!

[2021-04-25 02:09] vaibhavad commented on #55
@amirj Can you try the fix suggested by @Ding-Jiayu?

On my system the working configuration is - MacOS 10.15.7, Java 1.8.0_92, sbtVersion 1.2.8

[2021-06-14 17:04] GillesJ commented on #48
Same problem here, looks like the ONRE dependency does not live in the repos any longer edu.iitd.cse.open_nre.onre#onre_2.10;1.0.0-SNAPSHOT

Any ideas where to get this?

[2021-06-22 12:56] GillesJ commented on #53
Same issue here, it happens seemingly on sentences with coordinations.

[2021-07-18 21:47] MikeDoes opened #56 "Jar version is set on 5.0"
The most recent pre-compiled version is in 5.0 as can be seen here:
https://drive.google.com/file/d/19z8LO-CYOfJfV5agm82PZ2JNWNUPIB6D/view?usp=sharing

It should be in 5.1

[2021-08-02 06:31] paulk-asert commented on #6
Any progress? Since bintray was closed, the aforementioned workaround may no longer be available.

[2021-10-19 07:57] LimKim opened #57 "Need access to download language model"
Just like the title, i can't download the language model directly.
How can i do next?

[2021-10-19 12:13] LimKim commented on #51
Sorry to disturb you, can you send me the Berkeley Language Model?
I have no permission to access the current download address.

[2021-10-27 08:06] #57 closed, assigned to nobody

[2022-01-11 18:40] Tushn opened #58 "Is OpenIE working with imperative forms?"
I don't know if is normal, but sentences in Imperative Forms could have a triple where subject is "you", is not?

If not, is there any alternative?

[2022-04-03 14:51] ZuoHaoyu opened #59 "How to download berkerly language model please?"
The link for this language model has expired for a long time.

Other approaches stated on Internet is also not working.

Many thanks for any potential solutions for this.

[2022-05-24 07:03] CheckEO commented on #46
Hello @vaibhavad
I finished the environment issue mentioned by @YKX-A while it still got errors when I run command of "sbt compile.sh". The error information I post is below.

[info] Loading settings for project openie-standalone-build from plugins.sbt ...
[info] Loading project definition from /data/dongyuezhou/OpenIE-standalone/project
[info] Loading settings for project openie-standalone from v